<!DOCTYPE html>
<html>
<head>
    <title>TechCompass</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">

<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">

<link rel="manifest" href="/static/site.webmanifest">

</head>
<body>

<div class="container">
    <img src="/static/techcompass.png" alt="TechCompass Logo" class="logo">
    <p>AI Assistant for Students & Developers</p>

    <br>
    <div class="home-grid">
     <a href="/roadmap" class="home-card">🧭 Roadmap Generator</a>
     <a href="/study" class="home-card">📚 Study Plan</a>
     <a href="/resume" class="home-card">📄 Resume Analyzer</a>
     <a href="/interview" class="home-card">🧠 Mock Interview</a>
     <a href="/chat" class="home-card">💬 Chat</a>
   </div>

</div>

</body>
</html>
